= form_for @tool do |f|
  - handle_errors(@tool)

  = label_field(f.label(:name), f.text_field(:name))
  = label_field(f.label(:type),
                f.select(:type, options_for_select(Tool::TYPES, selected: @tool.type)))

  = label_field(f.label(:interest_id),
                f.select(:interest_id, options_from_collection_for_select(Interest.all, :id, :name, selected: @tool.interest_id)))
  = label_field(f.label(:front_end), f.check_box(:front_end))
  = label_field(f.label(:fluency),
                f.select(:fluency, options_for_select([0, 1, 2, 3], selected: @tool.fluency)))
  = label_field(f.label(:resume), f.check_box(:resume))
  = submit(f)
