%section.tools.panel
  .row
    - if project.systems.any?
      .medium-3.columns
        %h5 Systems & Frameworks
        = render project.systems
    - if project.languages.any?
      .medium-3.columns
        %h5 Languages
        = render project.languages
    - if project.programs.any?
      .medium-3.columns
        %h5 Software
        = render project.programs
    - if project.concepts.any?
      .medium-3.columns
        %h5 Concepts
        = render project.concepts

  .row{data: {visible_to: 'admin'}}
    %ul.tools-edit
      - Tool.sorted.each do |tool|
        %li
          - if wield = Wield.find_by_project_id_and_tool_id(project.id, tool.id)
            = link_to(icon(:delete), wield, method: :delete, data: {confirm: 'Are You Sure?'})
          - else
            = form_for Wield.new(project_id: project.id, tool_id: tool.id) do |f|
              = f.hidden_field(:project_id)
              = f.hidden_field(:tool_id)
              = f.submit('+')
          = tool.name
