- title('Tools')

%table
  %thead
    %tr
      %th
      %th Name
      %th Type
      %th
      %th
      %th

  %tbody
    - @tools.each do |tool|
      %tr
        %td= star_icon(tool.fluency)
        %td= tool.name
        %td= tool.type
        %td= link_to 'Show', tool
        %td= link_to 'Edit', edit_tool_path(tool)
        %td= link_to 'Destroy', tool, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tool', new_tool_path, class: 'button'
