- title('Tools')

- Tool.types.each do |type|
  = link_to(type, type: type)

%table
  %thead
    %tr
      %th Sort
      %th
      %th Name
      %th Type
      %th
      %th
      %th

  %tbody
    - @tools.each do |tool|
      %tr
        %td
          = form_for tool do |f|
            = f.select(:sort, options_for_select(1..@tools.count, selected: tool.sort))
            = submit(f)
        %td= star_icon(tool.fluency)
        %td= link_to(tool.name, tool)
        %td= tool.type
        %td= link_to edit_icon, edit_tool_path(tool)
        %td= link_to destroy_icon, tool, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tool', new_tool_path, class: 'button'
