- title("Projects involving #{@tool.name}", false)

%h1
  %span.intro Projects involving:
  %span.tool-name= @tool.name

%h2.subhead= @tool.type

%section.projects
  .row
    .medium-6.columns
      = render @tool.works

= link_to 'Edit', edit_tool_path(@tool)
\|
= link_to 'Back', tools_path
