- title("Projects involving #{@tool.name}")

%p
  %b Name:
  = @tool.name
%p
  %b Type:
  = @tool.type

%section.projects= render @tool.projects

= link_to 'Edit', edit_tool_path(@tool)
\|
= link_to 'Back', tools_path
