- title(@tool.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1
      %span.tool-name= @tool.name

    %h2.subhead= @tool.decorate.type_info

    %p= @tool.decorate.tool_list_info



- if @tool.works.size < 6
  = render("works/list", works: @tool.works)
- else
  = render 'works/stacked', works: @tool.works, show_meta: true
