- title(@tool.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1
      %span.tool-name= @tool.name

    %h2.subhead= @tool.type

%section.works
  = render @tool.works

= link_to 'Edit', edit_tool_path(@tool)
\|
= link_to 'Back', tools_path
