- title(@tool.name, false)

.row
  .medium-7.medium-offset-5.columns
    %h1
      %span.tool-name= @tool.name

    %h2.subhead= @tool.type

    %p 
      Listing works involving #{content_tag(:i, @tool.name)}.


%section.works
  = render @tool.works.sorted

= link_to 'Edit', edit_tool_path(@tool)
\|
= link_to 'Back', tools_path
