- title('Parties')

%table
  %thead
    %tr
      %th Name
      %th Type
      %th Url
      %th Description
      %th Start year
      %th Stop year
      %th
      %th
      %th

  %tbody
    - @parties.each do |party|
      %tr
        %td= party.name
        %td= party.type
        %td= party.url
        %td= party.description
        %td= party.start_year
        %td= party.stop_year
        %td= link_to 'Show', party
        %td= link_to 'Edit', edit_party_path(party)
        %td= link_to 'Destroy', party, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Party', new_party_path
