- title(@party.name)
%p#notice= notice

%p
  %b Name:
  = @party.name
%p
  %b Type:
  = @party.type
%p
  %b Url:
  = @party.url
%p
  %b Description:
  = @party.description
%p
  %b Start year:
  = @party.start_year
%p
  %b Stop year:
  = @party.stop_year

= link_to 'Edit', edit_party_path(@party)
\|
= link_to 'Back', parties_path
