= form_for @note do |f|
  - handle_errors(@note)

  = f.hidden_field(:noteable_type)
  = f.hidden_field(:noteable_id)
  .field
    = f.label :contents
    = f.text_field :contents
  .actions
    = f.submit 'Save'
