- title('Notes')

%table
  %thead
    %tr
      %th Noteable type
      %th Noteable
      %th Contents
      %th
      %th
      %th

  %tbody
    - @notes.each do |note|
      %tr
        %td= note.noteable_type
        %td= note.noteable_id
        %td= note.contents
        %td= link_to 'Show', note
        %td= link_to 'Edit', edit_note_path(note)
        %td= link_to 'Destroy', note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Note', new_note_path, class: 'button'
