- cache movie do
  - movie = movie.decorate
  %section.work.film{itemscope: true}
    .row

      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        = movie.genre_and_years

        = movie.status

        = movie.thumbnail

        = movie.titles_display

        = render "works/admin_links", work: movie

      .medium-5.columns.end.info-box
        %h3= link_to(movie.name, movie)

        = movie.summary

        = movie.tools_display
