%section.work{class: work.interest.token, itemscope: true}
  .row


    .medium-3.columns.medium-offset-2.medium-text-right.hide-for-small-only
      %p
        %span.years
          = work.years
    .small-12.medium-7.columns
      %h3= work.decorate.title
    .small-12.columns.show-for-small-only
      %p
        %span.years
          = work.years

    -# .medium-3.columns.medium-offset-2.medium-text-right
    -#   = work.decorate.thumbnail(true)
    -#   - if work.url.present? and work.live?
    -#     = link_to(raw("Visit #{external_icon}"), work.url)

    -# .medium-5.columns.end
    -#   [main information]



-# %section.work{class: work.interest.token, itemscope: true}
-#   .row

-#     .small-12.columns
-#       %h3= work.decorate.title

-#     .small-3.columns.medium-1
-#       = work.decorate.thumbnail(true)

-#     .small-9.columns.medium-11
-#       %p
-#         %span.years
-#           = work.years
-#       - if work.url.present? and work.live?
-#         = link_to(raw("Visit #{external_icon}"), work.url)

-#   .row
-#     .small-12.columns
-#       - if work.summary.present?
-#         %p.summary
-#           = work.summary


-#       %p= work.decorate.titles_and_instruments

-#       - if work.active_tools.any? or work.legacy_tools.any?
-#         %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

-#           %li.accordion-item{data: {'accordion-item': true}}
-#             %a.accordion-title{href: '#'} Buzzwords

-#             .accordion-content{data: {'tab-content': true}}
-#               - if work.active_tools.any?
-#                 %p.tools
-#                   %b Buzzwords:
-#                   = raw(work.active_tools.map{|t| link_to(t.name, t)}.join(', '))
-#               - if work.legacy_tools.any?
-#                 %p.tools
-#                   %b Legacy:
-#                   = raw(work.legacy_tools.map{|t| link_to(t.name, t)}.join(', '))


      -# %p.status
      -#   Status:
      -#   = combo_status(work)



      -# = render "works/admin_links", work: work


-# .medium-3.columns.medium-offset-2.medium-text-right.title-box
-#   = render "works/app_meta_info", work: work

-# .medium-5.columns.end.info-box
-#   %h3= work.decorate.title
-#   - if work.has_thumbnail?
-#     = thumbnail(work)
-#   %p.artist
-#     by
-#     %b= work.party.name
-#     - if work.party.alias?
-#       %i.subdued [solo alias]

-#   - if work.summary.present?
-#     %p.summary
-#       = work.summary

-#   - if work.active_tools.any?
-#     %p.tools
-#       %b Buzzwords:
-#       = raw(work.active_tools.map{|t| link_to(t.name, t)}.join(', '))
-#   - if work.legacy_tools.any?
-#     %p.tools
-#       %b Legacy:
-#       = raw(work.legacy_tools.map{|t| link_to(t.name, t)}.join(', '))
