- cache work do
  %section.work{class: work.interest.token, itemscope: true}
    .row

      .medium-3.columns.medium-offset-2.medium-text-right.hide-for-small-only
        %p
          %span.years
            = work.years
        = work.decorate.thumbnail(true)
        - if work.url.present? and work.live?
          = link_to(raw("Live link #{external_icon}"), work.url, target: "_blank")
        = render "works/admin_links", work: work

      .small-12.medium-7.columns
        %h3= work.decorate.title
        .hide-for-small-only
          = render "works/app_details", work: work

      .small-12.columns.show-for-small-only
        %p
          %span.years
            = work.years
        = work.decorate.thumbnail(true)

        = render "works/app_details", work: work
