%section.band
  .row
    .medium-3.columns.medium-offset-2.medium-text-right.title-box
      %h3
        - if band.url.present?
          = link_to(band.name, band.url, target: "_blank")
        - else
          = band.name
      .years
        = band.years
      .location
        = band.location

      - if band.has_image?
        = link_to(image_tag(band.image.url(:thumb), class: 'thumbnail'), band.image.url(:original), target: "_blank")

      %p.admin{data: {visible_to: 'admin'}}
        %smaller.subdued= link_to(icon(:edit), edit_party_path(band), rel: 'nofollow')
        %smaller.subdued= link_to(icon(:delete), party_path(band), method: :delete, data: {confirm: 'Are you sure?'}, rel: 'nofollow')

    .medium-5.columns.end.info-box
      .titles
        = band.official_title
      %p= raw(band.description)

      - if band.has_audio?
        %p
          = band.audio_player
          %b Sample track:
          %i= band.sample_track
