%table.series-info
  %tbody
    -# REFACTOR
    - work.series_works.each do |series_work|
      - series = series_work.series
      - next if params[:series_id] and params[:series_id].to_i != series.id
      %tr
        %td.left-nav.nav
          = thumbnail(work.prev_in_series(series))
          %span.thumb-nav-icon
            = link_to(left_icon, work_path(work.prev_in_series(series), series_id: params[:series_id]))
        %td.series-link
          From the series
          = link_to(series.name, series)
        %td.right-nav.nav
          = thumbnail(work.next_in_series(series))
          %span.thumb-nav-icon
            = link_to(right_icon, work_path(work.next_in_series(series), series_id: params[:series_id]))


    -# return nil unless work.series.any?
    -# list = ''
    -# work.series_works.each do |series_work|
    -#   series = series_work.series
    -#   line = 'From the '
    -#   line += work.interest.series_name.downcase + ' '
    -#   line += h.link_to(series.name, series)
    -#   line += h.link_to(h.raw(h.destroy_icon), series_work, method: :delete, class: 'subdued', data: {visible_to: 'admin', confirm: 'Are you sure?'})
    -#   line_item = h.content_tag(:li, h.raw(line))
    -#   list += line_item
    -# end
    -# h.raw(h.content_tag(:ul, h.raw(list), class: 'series-list small'))

