%h3.show-for-small-only= song.title

%table.compact

  = song.player_row
  %tr
    %th Year
    %td.years= song.years

  - unless song.mine?
    %tr
      %th Written by
      %td= song.author.name

  - if song.genre
    %tr
      %th Genre
      %td
        .genre= link_to(song.genre.name, song.genre)

  - if song.daw.present?
    %tr
      %th Recording
      %td= song.daw.name

  %tr.show-for-small-only
    %th Artist
    %td
      %b= song.party.name
      - if song.party.alias?
        %i.subdued [solo alias]

  - if song.albums.any?
    %tr.show-for-small-only
      %th
      %td= song.album_info

  = render "works/roles_table_row", work: song, visibility_class: 'hide-for-small-only'


= render "works/admin_links", work: song