%section.work{class: work.interest.token, itemscope: true}
  .row

    .medium-3.columns.medium-offset-2.medium-text-right.title-box
      = render "works/song_meta_info", work: work

    .medium-5.columns.end.info-box
      %h3.hide-for-small-only= work.decorate.title

      .hide-for-small-only
        %p.artist
          by
          %b= work.party.name
          - if work.party.alias?
            %i.subdued [solo alias]

        = work.decorate.series_info
      - if work.summary.present?
        %p.summary
          = work.summary

      - if work.has_lyric?
        = render work.lyric
      - elsif work.music? or work.writing?
        %div{data: {visible_to: 'admin'}}
          = link_to(raw("#{new_icon} Lyric"), new_lyric_path(work_id: work.id))


      %table.compact.show-for-small-only= render "works/roles_table_row", work: work

      - if work.tools.any?
        %p.tools
          %b Buzzwords:
          = raw(work.tools.map{|t| link_to(t.name, t)}.join(', '))

