%h3.show-for-small-only= work.decorate.title


%table.compact

  - if work.soundcloud_id.present?
    %tr
      %th Audio
      %td= render "soundcloud_player", soundcloud_id: work.soundcloud_id

  %tr
    %th Year
    %td.years= work.years

  - unless work.mine?
    %tr
      %th Written by
      %td= work.author.name

  - if work.genre
    %tr
      %th Genre
      %td
        .genre= link_to(work.genre.name, work.genre)


  %tr.show-for-small-only
    %th Artist
    %td
      %b= work.party.name
      - if work.party.alias?
        %i.subdued [solo alias]

  - if work.series.any?
    %tr.show-for-small-only
      %th
      %td= work.decorate.series_info


  = render "works/roles_table_row", work: work, visibility_class: 'hide-for-small-only'


= render "works/admin_links", work: work