- cache work do
  %section.work{class: work.interest.token}
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3
          = link_to(work.name, work)
        -#/ [image]
        %p
          %span.location
            = work.location
          %span.programs
            = work.tools.programs.map{|t| t.name}.join(', ')
        - if work.demo?
          .panel.demo-warning NOTE: This project is a home demo, rough draft, or was completed under extreme time constraints. "Enjoy" it at your own peril.
        %p.admin{data: {visible_to: 'admin'}}
          %smaller.subdued= link_to(edit_icon, edit_work_path(work))
          %smaller.subdued= link_to(model_icon('role'), new_role_path(work_id: work.id))
          %smaller.subdued= link_to(destroy_icon, work, method: :delete, data: {confirm: 'Are you sure?'})
      .medium-5.columns.end.info-box
        %p.artist
          %b Artist:
          = work.party.name

        %p
          %span.date-range
            = work.date_range
          %span.titles
            = raw(work.titles.map{|t| link_to(t.name, t)}.join(', '))
        %p
          %span.instruments
            -# FIXME this is music-specific
            = raw(work.tools.instruments.map{|t| link_to(t.name, t)}.join(', '))
        %p.status
          = combo_status(work)
        - if work.series.any?
          %ul.series-list      
            - work.series.each do |series|
              %li
                From the album: 
                = link_to(series.name, series)
        %p= work.summary
        - if work.tools.any?
          %p.tools
            %b Buzzwords:
            = raw(work.tools.map{|t| link_to(t.name, t)}.join(', '))

