- cache work do
  %section.work{class: work.interest.token, itemscope: true}
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3= work.decorate.title
        = render "works/work_meta_info", work: work
      .medium-5.columns.end.info-box
        - if work.has_thumbnail?
          = thumbnail(work)
        - if work.photography?
          = large_image(work)
        %p.artist
          by
          %b= work.party.name

        = work.decorate.titles_and_instruments
        = work.decorate.series_info
        %p.summary= work.summary
        %p.status
          Status: 
          = combo_status(work)


        - if work.tools.any?
          %p.tools
            %b Buzzwords:
            = raw(work.tools.map{|t| link_to(t.name, t)}.join(', '))

