- if work.photography?
  - cache [work, params[:series_id]] do
    = render "photos/photo", work: work

- elsif work.music?
  - cache work do
    = render "works/song", work: work

- elsif work.writing?
  - cache work do
    = render "works/piece", work: work

- elsif work.software?
  - cache work do
    = render "works/app", work: work

- else
  - cache work do
    %section.work{class: work.interest.token, itemscope: true}
      .row

        .medium-3.columns.medium-offset-2.medium-text-right.title-box
          = render "works/#{work.interest.work_name.downcase}_meta_info", work: work

        .medium-5.columns.end.info-box
          %h3= work.decorate.title
          - if work.writing?
            - if work.location.present?
              %p
                %span.location
                  = work.location
          - if work.has_thumbnail?
            = thumbnail(work)
          - if work.photography?
            = photo_link(work, large_image(work))
          %p.artist
            by
            %b= work.party.name
            - if work.party.alias?
              %i.subdued [solo alias]

          -# = work.decorate.series_info
          - if work.summary.present?
            %p.summary
              = work.summary

          - if work.has_lyric?
            = render work.lyric

          - elsif work.music? or work.writing?

            %div{data: {visible_to: 'admin'}}
              = link_to(raw("#{new_icon} Lyric"), new_lyric_path(work_id: work.id))

          - if work.active_tools.any?
            %p.tools
              %b Buzzwords:
              = raw(work.active_tools.map{|t| link_to(t.name, t)}.join(', '))
          - if work.legacy_tools.any?
            %p.tools
              %b Legacy:
              = raw(work.legacy_tools.map{|t| link_to(t.name, t)}.join(', '))

-# - cache work do
-#   %section.work{class: work.interest.token, itemscope: true}
-#     .row

-#       .medium-3.columns.medium-offset-2.medium-text-right.title-box
-#         = render "works/#{work.interest.work_name.downcase}_meta_info", work: work

-#       .medium-5.columns.end.info-box
-#         %h3= work.decorate.title
-#         - if work.writing?
-#           - if work.location.present?
-#             %p
-#               %span.location
-#                 = work.location
-#         - if work.has_thumbnail?
-#           = thumbnail(work)
-#         - if work.photography?
-#           = photo_link(work, large_image(work))
-#         %p.artist
-#           by
-#           %b= work.party.name
-#           - if work.party.alias?
-#             %i.subdued [solo alias]

-#         -# = work.decorate.series_info
-#         - if work.summary.present?
-#           %p.summary
-#             = work.summary

-#         - if work.active_tools.any?
-#           %p.tools
-#             %b Buzzwords:
-#             = raw(work.active_tools.map{|t| link_to(t.name, t)}.join(', '))
-#         - if work.legacy_tools.any?
-#           %p.tools
-#             %b Legacy:
-#             = raw(work.legacy_tools.map{|t| link_to(t.name, t)}.join(', '))
