= work.decorate.thumbnail(true)

- if work.location.present?
  %p
    %span.location
      = work.location

%p
  - if work.genre
    %span.genre= link_to(work.genre.name, work.genre)
  %span.years
    = work.years


- unless work.mine?
  .author
    Written by
    %b= work.author.name



- if work.url.present? and work.live?
  = link_to(raw("Link #{external_icon}"), work.url)


= work.decorate.titles_and_instruments

%p.status
  Status:
  = combo_status(work)


- if work.photography?
  .small.subdued
    = raw(work.decorate.photo_meta)

= render "works/admin_links", work: work
