- if work.location.present?
  %p
    %span.location
      = work.location

%p
  - if work.genre
    %span.genre= link_to(work.genre.name, work.genre)
  %span.years
    = work.years

- unless work.mine?
  .author
    Written by
    %b= work.author.name
= work.decorate.thumbnail

- if work.url.present? and work.live?
  = link_to(raw("Link #{external_icon}"), work.url)

- if work.soundcloud_id.present?
  = render "soundcloud_player", soundcloud_id: @work.soundcloud_id

- if work.photography?
  - if work.camera
    .small.subdued.camera
      Shot with 
      - if work.camera.name.match(/iphone/i)
        an
      - else
        a
      = link_to(work.tools.first.name, work.tools.first)
  .small.subdued
    = work.decorate.photo_meta

%p.admin{data: {visible_to: 'admin'}}
  %smaller.subdued= link_to(edit_icon, edit_work_path(work), rel: 'nofollow')
  %smaller.subdued= link_to(model_icon('role'), new_role_path(work_id: work.id), rel: 'nofollow')
  %smaller.subdued= link_to(destroy_icon, work, method: :delete, data: {confirm: 'Are you sure?'}, rel: 'nofollow')
