%section.work
  .row
    .small-4.medium-3.columns.medium-offset-2.text-right
      %h3
        = work.name
      [image]
      %p
        %smaller.subdued= link_to(edit_icon, edit_work_path(work), data: {visible_to: 'admin'})
        %smaller.subdued= link_to(model_icon('role'), new_role_path(work_id: work.id))
    .small-8.medium-5.columns.end
      %p.subdued
        = work.date_range
        %br
        = work.titles.map{|t| t.name}.join(', ')
      %p
        %span.subdued Status:
        %b= status(work.status)
        %i.subdued= work.status_message
      %p= work.summary

