%section.work
  .row
    .small-12.columns
      %h3
        = work.name
        %smaller.subdued= link_to(edit_icon, edit_work_path(work), data: {visible_to: 'admin'})
      %p= work.summary
      %p.subdued= work.date_range
      %p= work.status

  .row
    .small-12.columns{data: {visible_to: 'admin'}}
