- cache work do
  %section.work{class: work.interest.token}
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3
          = link_to(work.name, work)
        -#/ [image]
        %p
          %span.location
            = work.location
        %p
          %span.programs
            = work.tools.programs.map{|t| t.name}.join(', ')
        %p.admin{data: {visible_to: 'admin'}}
          %smaller.subdued= link_to(edit_icon, edit_work_path(work))
          %smaller.subdued= link_to(model_icon('role'), new_role_path(work_id: work.id))
      .medium-5.columns.end.info-box
        %p.artist
          %b Artist:
          = work.party.name

        %p
          %span.date-range
            = work.date_range
          %span.titles
            = work.titles.map{|t| t.name}.join(', ')
        %p
          %span.tools
            -# FIXME this is music-specific
            = work.tools.instruments.map{|t| t.name}.join(', ')
        %p.status
          = combo_status(work)
        %p= work.summary

