- title('Works')

%table
  %thead
    %tr
      %th Name
      %th Interest
      %th Party
      %th Url
      %th Start year
      %th Stop year
      %th Description
      %th Summary
      %th Live
      %th Slug
      %th
      %th
      %th

  %tbody
    - @works.each do |work|
      %tr
        %td= work.name
        %td= work.interest_id
        %td= work.party_id
        %td= work.url
        %td= work.start_year
        %td= work.stop_year
        %td= work.description
        %td= work.summary
        %td= work.live
        %td= work.slug
        %td= link_to 'Show', work
        %td= link_to 'Edit', edit_work_path(work)
        %td= link_to 'Destroy', work, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= new_button(:work)
