- cache('sample-photo', expires_in: 4.hours) do
  - @photo = Photo.todays_sample_photo
  :plain
    {
      "id": #{@photo.id},
      "name": "#{@photo.name.html_safe.gsub('"', '\"')}",
      "palette": [#{raw(@photo.palette.map{|c| raw("\"#{c}\"")}.join(', '))}],
      "tag": "#{j(@photo.large)}",
      "url": "#{photo_url(@photo)}"
    }
