- title(@work.name, false)

= render @work

- if @work.lyric
  .row
    .medium-offset-5.medium-5.end
      %h2 Song Lyric
      %pre.lyric= @work.lyric.content

.row
  .medium-6.columns
    - Tool.send(@work.interest.token).sort{|a,b| a.name <=> b.name}.each do |tool|
      = form_for @work.wields.new(tool_id: tool.id) do |f|
        = f.hidden_field(:work_id)
        = f.hidden_field(:tool_id)
        = submit(f, tool.name, nil, disabled: (@work.tools.include?(tool) ? 'disabled' : nil))
  .medium-6.columns
    - Title.send(@work.interest.token).sort{|a,b| a.name <=> b.name}.each do |title|
      = form_for @work.roles.new(title_id: title.id) do |f|
        = f.hidden_field(:work_id)
        = f.hidden_field(:title_id)
        = submit(f, title.name, nil, disabled: (@work.titles.include?(title) ? 'disabled' : nil))
