- title("#{@work.name} ~ #{@work.interest.work_name}", false)

= render @work

/ - if @work.soundcloud_id.present?
/   .row
/     .medium-offset-5.medium-5.end
/       = render "soundcloud_player", soundcloud_id: @work.soundcloud_id

- if @work.has_lyric?
  = render @work.lyric
- elsif @work.music? or @work.writing?
  .row{data: {visible_to: 'admin'}}
    .medium-offset-5.medium-5.end
      = link_to(raw("#{new_icon} Lyric"), new_lyric_path(work_id: @work.id))

.row{data: {visible_to: 'admin'}}
  .medium-3.medium-offset-2.columns.medium-text-right
    = render "works/series_teaser", work: @work
  .medium-3.columns
    = render "works/tools_teaser", work: @work
  .medium-3.columns
    = render "works/titles_teaser", work: @work
