- title("#{@work.name} ~ #{@work.interest.work_name}", false)

= render @work

/ - if @work.soundcloud_id.present?
/   .row
/     .medium-offset-5.medium-5.end
/       = render "soundcloud_player", soundcloud_id: @work.soundcloud_id




.medium-offset-5.medium-7.columns
  %ul.accordion{data: {'accordion': true, 'allow-all-closed': 'true'}}

    %li.accordion-item{data: {'accordion-item': true}}
      %a.accordion-title{href: '#'} Show Meta Info

      .accordion-content{data: {'tab-content': true}}

        .row{data: {visible_to: 'admin'}}
          .small-12.columns
            = render "works/series_teaser", work: @work
          .medium-6.columns
            = render "works/tools_teaser", work: @work
          .medium-6.columns
            = render "works/titles_teaser", work: @work
