- cache piece do
  - piece = piece.decorate
  %section.work.writing{itemscope: true}
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        = piece.genre_and_years

        = piece.live_link

        = render "works/admin_links", work: piece

      .medium-5.columns.end.info-box
        %h3= piece.decorate.title
        = piece.location_display

        - if piece.has_thumbnail?
          = thumbnail(piece)

        = piece.byline

        = piece.summary

        = piece.lyric_display

        = piece.tools
