%p
  - if work.genre
    %span.genre= link_to(work.genre.name, work.genre)
  %span.years
    = work.years


- if work.url.present? and work.live?
  = link_to(raw("Link #{external_icon}"), work.url)


-# = work.decorate.titles_and_instruments


= render "works/admin_links", work: work
