%section.label Info
%section.contents
  %h1 Todd Gehman
  %h2 Software Humanist

  %ul.contacts
    %li
      %span.label e:
      = render @todd.email
    %li
      %span.label p:
      = render @todd.phone
    %li
      %span.label w:
      = link_to("https://#{CONFIG[Rails.env][:host_with_port]}", "https://#{CONFIG[Rails.env][:host_with_port]}")


-# %section#contact-info.resume-section
-#   .row
-#     .small-12.columns
-#       %h1 Todd Gehman
-#   .row
-#     .medium-7.columns
-#       = render "resume/statement"
-#     .medium-3.columns
-#       %ul.contacts
-#         %li= render @todd.email
-#         %li= render @todd.phone
-#         %li
-#           = web_icon
-#           = link_to(CONFIG[Rails.env][:host_with_port], "http://#{CONFIG[Rails.env][:host_with_port]}")
-#       -# = render @todd.address
-#     .medium-2.columns
-#       %p= link_to(raw("#{print_icon} Printable PDF"), "/todd-gehman-resume.pdf", class: 'button')


