%section.resume-section#experience
  .row
    .medium-7.columns
      %h3
        = experience_icon
        Professional Software
      = render @todd.jobs
      %h3
        = experience_icon
        Side Projects
      = render @todd.side_projects
      %h3
        = experience_icon
        Education
    .medium-5.columns
      %h3
        = experience_icon
        Languages & Systems
      .row
        .medium-6.columns
          = render @todd.primary_languages
          %p.subdued
            %b Basic/Lapsed:
            = raw(@todd.secondary_languages.map{|l| link_to(l.name, l)}.join(', '))

        .medium-6.columns
          = render @todd.primary_systems
          %p.subdued
            %b Basic/Lapsed:
            = raw(@todd.secondary_systems.map{|s| link_to(s.name, s)}.join(', '))
      .row
        .medium-6.columns
      %h3 Recognition