%section.resume-section#experience
  .row
    .medium-7.columns
      %h3
        = experience_icon
        Professional Software
      = render @todd.jobs

      %h3
        = experience_icon
        Education
      = render @todd.schools
      %h3
        = experience_icon
        Recognition

    %aside.medium-5.columns
      = render "resume/tools"
      %h3
        = experience_icon
        Side Projects
      = render @todd.side_projects


      %h3
        = experience_icon
        Associations
      = render @todd.non_profits