%section.resume-section#experience
  .row
    .medium-7.columns
      %section#professional
        %h3
          = experience_icon
          Professional Software
        = render @todd.jobs

      %section#education
        %h3
          = experience_icon
          Education
        = render @todd.schools
      %section#recognition
        %h3
          = experience_icon
          Recognition

        %ul.awards
          %li
            = experience_icon
            Awarded Amazon's "Just Do It" award for exemplifying bias for action.
          %li
            = experience_icon
            Initiated into Amazon's "Bar Raiser" program for critical excellence in interviewing and recruiting. In that role, interviewed several Web Developer candidates weekly with absolute veto power.

    %aside.medium-5.columns
      = render "resume/tools"
      %section#side-projects
        %h3
          = experience_icon
          Side Projects
        = render @todd.side_projects

      %section#associations
        %h3
          = experience_icon
          Associations
        = render @todd.non_profits