#resume
  %section.divider
    = render "resume/contact_info"

  %section.divider
    = render "resume/software_summary"

  %section.divider
    = render "resume/software_pro"

  .page-break
  %section.divider

  %section.divider.side-projects
    = render "resume/software_amateur"

  %section.divider
    = render "resume/education"

  %section.divider
    = render "resume/awards"

  %section.divider.associations
    = render "resume/associations"

  %section.divider.tools
    = render "resume/software_tools"

-# %h2 Side Projects
-# %h2 Recognition
-# %h2 Education
-# %h2 Associations



-# %section.resume-section#experience
-#   .row
-#     .medium-7.columns
-#       %section#professional
-#         %h3
-#           = experience_icon
-#           Professional Software
-#         = render @todd.jobs

-#       %section#recognition
-#         %h3
-#           = experience_icon
-#           Recognition
-#         = render @todd.awards

-#       %section#education
-#         %h3
-#           = experience_icon
-#           Education
-#         = render @todd.schools



-#     %aside.medium-5.columns
-#       = render "resume/tools"
-#       %section#side-projects
-#         %h3
-#           = experience_icon
-#           Side Projects
-#         = render @todd.side_projects

-#       %section#associations
-#         %h3
-#           = experience_icon
-#           Associations
-#         = render @todd.non_profits