%table.compact

  = song.player_row
  %tr
    %th Year
    %td.years= song.years

  - unless song.mine?
    %tr
      %th Written by
      %td= song.author.name

  - if song.genre
    %tr
      %th Genre
      %td
        .genre= link_to(song.genre.name, song.genre)

  - if song.key.present?
    %tr
      %th Key
      %td= link_to(song.key.short_name, song.key)

  - if song.daw.present?
    %tr
      %th Recorded with
      %td= song.daw.name

  %tr.show-for-small-only
    %th Artist
    %td
      %b= song.party.name
      - if song.party.alias?
        %i.subdued [solo alias]

  - if song.albums.any?
    %tr.show-for-small-only
      %th
      %td= song.album_info

  = render "roles/roles_table_rows", subject: song, visibility_class: 'hide-for-small-only'
