- cache song do
  - song = song.decorate
  %section.work.music{itemscope: true}
    .row

      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3.show-for-small-only= song.title

        = render "songs/song_info_table", song: song
        = render "works/admin_links", work: song

        -# - if song.documents.any?
        -#   = render song.documents

      .medium-5.columns.end.info-box
        %h3.hide-for-small-only= song.title

        .hide-for-small-only
          = song.byline

          = song.album_info

        = song.summary_display

        = render "variants/list", work: song

        = song.lyric_display

        -# = song.roles_table('show-for-small-only')

