= form_for @interest do |f|
  - handle_errors(@interest)

  = label_field(f.label(:name), f.text_field(:name))
  = label_field(f.label(:sort), f.number_field(:sort))
  = label_field(f.label(:token), f.text_field(:token))
  = label_field(f.label(:work_name), f.text_field(:work_name))
  = label_field(f.label(:series_name), f.text_field(:series_name))
  = label_field(f.label(:summary), f.text_field(:summary))
  = label_field(f.label(:public), f.check_box(:public))
  = label_field(f.label(:icon), f.text_field(:icon))
  = submit(f)
  