.row
  .medium-7.medium-offset-5.columns
    %h1 Live Shows
- Band.all.each do |band|
  %section.band
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3
          = link_to(band.name, band.artist)
        %p
          %span.location
            = band.location
      .medium-5.columns.end.info-box
        %p
          %span.date-range
            = band.date_range
        %p
          %span.tools
            -# FIXME this is music-specific
            = band.instruments.map{|t| t.name}.join(', ')
        %p= band.summary

