- title('Music')

.row
  .small-12.medium-6.columns
    %h2 Band Projects
    %ul
      %li= link_to("Lushy", "http://lushy.com")
      %li= link_to("Downpilot", "http://downpilot.com/")
      %li An American Starlet
      %li The Shiners

  .small-12.medium-6.columns
    %h2 Solo Projects
    %ul
      %li= link_to("FAWM 2016: New York City", "https://soundcloud.com/pugetive/sets/fawm-2016-new-york-city")
      %li= link_to("FAWM 2015: Shingletown Country", "https://soundcloud.com/pugetive/sets/shingletown-country-february")
      %li= link_to("NaSoAlMo Favorites", "https://soundcloud.com/pugetive/sets/nasoalmo")