- title(@interest.name)

%p#notice= notice

%p
  %b Name:
  = @interest.name
%p
  %b Sort:
  = @interest.sort
%p
  %b Token:
  = @interest.token
%p
  %b Work name:
  = @interest.work_name
%p
  %b Series name:
  = @interest.series_name

= link_to 'Edit', edit_interest_path(@interest)
\|
= link_to 'Back', interests_path
