- title(@interest.name, false)

- if @interest.music?
  .row
    .medium-7.medium-offset-5.columns
      %h1 Music

  = render "live_bands"

  .row
    .medium-7.medium-offset-5.columns
      %h2 Recordings


- else
  .row
    .medium-7.medium-offset-5.columns
      %h1= @interest.name


- if @interest.music? or @interest.photography?
  = render @series.sort{|a, b| b.stop_year <=> a.stop_year}
- else
  .row
    .medium-7.medium-offset-5.columns
      %h2 Selected Projects
  = render @interest.works.favorite.sorted
    
  .row
    .medium-7.medium-offset-5.columns
      %h2 Other Projects
  = render @interest.works.unfavorite.sorted