= form_for @project do |f|
  = handle_errors(@project)

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = f.select :category, options_for_select(Project::CATEGORIES, selected: @project.category)
  .field
    = f.label :live
    = f.check_box :live
  .field
    = f.label :pro
    = f.check_box :pro
  .field
    = f.label :start_year
    = f.select :start_year, options_for_select(Time.now.year.downto(1970))
  .field
    = f.label :stop_year
    = f.select :stop_year, options_for_select(Time.now.year.downto(1970))
  .field
    = f.label :description
    = f.text_area :description
  .actions
    = f.submit 'Save'
