- cache project do

  .panel
    %h3= link_to(project.name, project)
    = project.date_range
    %p= project.description
    = render "notes/list", subject: project
    = render "tools/list", project: project
    = render "roles/list", project: project
