- cache album do
  - album = album.decorate
  %section.series.music
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3
          = link_to(album.name, album)

        = album.years

        = album.titles_and_tools

        - if album.has_image?
          = link_to(image_tag(album.image.url(:thumb)), album.image.url(:original), target: "_blank")

        = render "series/admin_links", series: album

      .medium-5.columns.end.info-box
        = album.artist_name
        - if album.description.present?
          %p.description= album.description

        %h4 Track listing:
        = render 'works/list', works: album.songs, embedded_content: true
