= form_for @title do |f|
  - handle_errors(@title)

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :category
    = f.select :category, options_for_select(PURSUITS)
  .actions
    = f.submit 'Save'
