- title('Titles')

- Title.categories.each do |category|
  = link_to(category, category: category)

%table
  %thead
    %tr
      %th Sort
      %th Name
      %th Category
      %th
      %th

  %tbody
    - @titles.alpha.each do |title|
      %tr
        %td
          = form_for title do |f|
            = f.select(:sort, options_for_select(1..@titles.count, selected: title.sort))
            = submit(f)
        %td= link_to(title.name, title)
        %td= title.category
        %td= link_to edit_icon, edit_title_path(title)
        %td= link_to destroy_icon, title, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Title', new_title_path, class: 'button'
