%table.variants

  - work.variants.each do |variant|
    %tr
      - if variant.has_audio?
        %td= raw(AudioPlayer.new(mp3: variant.mp3_url).to_html)
      - if variant.has_score?
        %td= render variant.score
      %th.text-left
        = variant.name
        - if variant.year.present?
          %span.small.subdued= variant.year
        %span.small.subdued{data: {visible_to: 'admin'}}
          = link_to(icon(:edit), edit_variant_path(variant))


%p.admin{data: {visible_to: 'admin'}}
  = link_to(raw("#{icon(:new)} Add Variant"), new_variant_path(work_id: work.id))