%table.variants

  - work.variants.each do |variant|
    %tr
      %td= render variant.documents
      -# %td [Audio]
      %th.text-left
        = variant.name
        - if variant.year.present?
          %span.small.subdued= variant.year
        %span.small.subdued{data: {visible_to: 'admin'}}
          = link_to(icon(:edit), edit_variant_path(variant))


%p.admin{data: {visible_to: 'admin'}}
  = link_to(raw("#{icon(:new)} Add Variant"), new_variant_path(work_id: work.id))