%p#notice= notice

%p
  %b Street:
  = @address.street
%p
  %b Unit:
  = @address.unit
%p
  %b City:
  = @address.city
%p
  %b State:
  = @address.state
%p
  %b Zip:
  = @address.zip

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
