- title('Listing series_works')

%table
  %thead
    %tr
      %th Series
      %th Work
      %th
      %th
      %th

  %tbody
    - @series_works.each do |series_work|
      %tr
        %td= series_work.series_id
        %td= series_work.work_id
        %td= link_to 'Show', series_work
        %td= link_to 'Edit', edit_series_work_path(series_work)
        %td= link_to 'Destroy', series_work, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Series work', new_series_work_path
