= form_for @role do |f|
  - handle_errors(@role)

  .field
    = f.label :project_id
    = f.select :project_id, options_from_collection_for_select(Project.all, :id, :name, selected: @role.project_id)
  .field
    = f.label :title_id
    = f.select :title_id, options_from_collection_for_select(Title.sorted, :id, :name, selected: @role.title_id)
  .actions
    = f.submit 'Save'
