- cache app do
  - app = app.decorate
  %section.work{class: app.interest.token, itemscope: true}
    .row

      .medium-3.columns.medium-offset-2.medium-text-right.hide-for-small-only
        = app.years_display
        - if app.has_image?
          %div.screenshot= app.thumbnail
        = app.live_link
        = render "works/admin_links", work: app

      .small-12.medium-7.columns
        %h3= app.decorate.title
        .hide-for-small-only
          = render "works/app_details", app: app

      .small-12.columns.show-for-small-only
        = app.years_display
        - if app.has_image?
          %div.screenshot= app.thumbnail

        = render "works/app_details", app: app
