%table.series-info
  %tbody
    -# REFACTOR
    - photo.galleries.each do |gallery|
      - next if params[:gallery_id] and params[:gallery_id].to_i != gallery.id
      %tr
        %td.left-nav.nav
          = gallery.prev(photo).thumbnail
          %span.thumb-nav-icon
            = link_to(icon(:left), photo_path(gallery.prev(photo), gallery_id: params[:gallery_id]))
        %td.series-link
          From the series
          = link_to(gallery.name, gallery)
        %td.right-nav.nav
          = gallery.next(photo).thumbnail
          %span.thumb-nav-icon
            = link_to(icon(:right), photo_path(gallery.next(photo), gallery_id: params[:gallery_id]))
