- cache photo do
  - photo = photo.decorate

  %section.work.photo.photography{itemscope: true}
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3= photo.decorate.title

        = photo.location_display

        = photo.genre_and_years

        = photo.thumbnail

        = photo.titles_and_instruments

        .small.subdued.hide-for-small-only
          = raw(photo.photo_meta)

        = render "works/admin_links", work: photo

      .medium-5.columns.end.info-box
        - if photo.has_thumbnail?
          = thumbnail(photo)
        = photo_link(photo, large_image(photo))

        = render "photos/gallery_info", photo: photo

        = photo.summary

        .small.subdued.show-for-small-only
          = raw(photo.photo_meta)
