- cache gallery do
  - gallery = gallery.decorate
  %section.gallery.photography
    .row
      .medium-3.columns.medium-offset-2.medium-text-right.title-box
        %h3
          = link_to(gallery.name, gallery_path(gallery))

        = gallery.years_display

        = gallery.titles_and_tools

        -# - if gallery.has_image?
        -#   = link_to(image_tag(gallery.image.url(:thumb)), gallery.image.url(:original), target: "_blank")

        = render "series/admin_links", series: gallery

      .medium-5.columns.end.info-box
        = gallery.artist_name
        = render 'galleries/thumbnails', photos: gallery.photos.sorted, gallery_id: gallery.id
