- title(nil, false)
- add_html_class('mini')

- cache 'home-wrapper', expires_in: 1.day do
  #home-wrapper
    .row
      .medium-4.columns.medium-offset-2.end
        %h1 Todd Gehman
        %h2.subhead= web_host

    .row
      .medium-4.columns.medium-offset-2
        %ul
          - @interests.each do |interest|
            %li{class: interest.token}
              = link_to(raw("#{interest_icon(interest)} #{interest.name}"), interest, class: 'callout')

      .medium-4.columns.end
        %ul.photo-grid
          - @photos.in_groups(5) do |group|
            %li.callout
              - group.each do |photograph|
                - next if photograph.nil?
                = link_to(thumbnail(photograph), photograph)
