- title "Icons"

= new_button(:icon)

%p.text-right= render "filters"

%table
  %tr
    %th Icon
    %th Name
    %th Token
    %th Type
  - @icons.each do |icon|
    %tr
      %td.icon= icon.to_html
      %td= link_to(icon.name, edit_icon_path(icon))
      %td= icon.token
      %td= icon.type
