= form_for @series do |f|
  - handle_errors(@series)

  = label_field(f.label(:name), f.text_field(:name))
  = label_field(f.label(:interest_id),
                f.select(:interest_id, options_from_collection_for_select(Interest.all, :id, :name, selected: @series.interest_id)))

  = label_field(f.label(:type),
              f.select(:type, options_for_select(Series::TYPES, selected: @series.type)))

  = label_field(f.label(:summary), f.text_field(:summary, maxlength: 255))
  = label_field(f.label(:description), f.text_area(:description))
  = label_field(f.label(:audience), f.check_box(:audience))
  = f.file_field :image

  = submit(f)

