- title('Listing series')

%table
  %thead
    %tr
      %th Name
      %th Summary
      %th
      %th

  %tbody
    - @series.each do |series|
      %tr
        %td= link_to(series.name, series)
        %td= series.summary
        %td= link_to edit_icon, edit_series_path(series)
        %td= link_to destroy_icon, series, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Series', new_series_path
