- title(@series.name)

%p
  %b Name:
  = @series.name
%p
  %b Summary:
  = @series.summary
%p
  %b Description:
  = @series.description

= link_to 'Edit', edit_series_path(@series)
\|
= link_to 'Back', series_index_path
