.row
  .large-4.columns
    %ul.social-icons
      %li= mail_to('toddgehman@gmail.com', icon(:email), encode: 'hex', title: 'Email Todd')
      %li= link_to(icon(:facebook),   'https://www.facebook.com/pugetive',        title: 'Facebook Profile')
      %li= link_to(icon(:twitter),    'https://twitter.com/pugetive',             title: 'Twitter Profile')
      %li= link_to(icon(:instagram),  'https://instagram.com/pugetive',           title: 'Instagram Photos')
      %li= link_to(icon(:flickr),     'https://www.flickr.com/photos/pugetive',   title: 'Flickr Photos')
      %li= link_to(icon(:soundcloud), 'https://soundcloud.com/pugetive',          title: 'Soundcloud Music')
      %li= link_to(icon(:github),     'https://github.com/pugetive/pugetive.com', title: 'Github Software')
      %li= link_to(icon(:medium),     'https://medium.com/@pugetive',             title: 'Medium Blog')
      %li= link_to(icon(:linkedin),   'https://www.linkedin.com/in/pugetive',     title: 'LinkedIn Profile')
      %li.subdued
  .large-4.columns.text-center
    .subdued.small{data: {visible_to: 'admin'}}
      pugetive.com
      = link_to(Git::REVISION, "https://github.com/pugetive/pugetive.com/commit/#{Git::REVISION}")

  .large-4.columns.text-right
    .subdued.small
      All original content Copyright © 2000 - #{Time.now.year} Todd Gehman

