= render 'layouts/flash'

.row
  .large-12.columns
    %nav
      = link_to_unless_current("Resume", resume_path)
      = link_to_unless_current("Projects", projects_path)
      = link_to_unless_current("Titles", titles_path)
      = link_to_unless_current("Tools", tools_path)

