%section.top-bar-section{data: {visible_to: 'admin'}}
  -# #iframe{src: "/vue/playground.html", seamless: true}
  #private-menu-wrapper
    %ul.menu
      %li= link_to(raw("#{icon(:interest)} Interests"), interests_path, title: 'View Interests', rel: 'nofollow')
      %li= link_to(raw("#{icon(:party)} Parties"),          parties_path,  title: 'View Parties', rel: 'nofollow')
      %li
        = link_to(raw("#{icon(:work)} Works"),     works_path, title: 'View Works', rel: 'nofollow')
      %li
        %ul.dropdown.menu{data: {dropdown_menu: true}}
          %li
            %a{href: '#'}
              = icon(:new)
              Work
            %ul.menu
              %li= link_to("Film", new_work_path(interest_id: FILM_INTEREST_ID), title: 'New Film')
              %li= link_to("Photograph", new_work_path(interest_id: PHOTOGRAPHY_INTEREST_ID), title: 'New Photo')
              %li= link_to("Music", new_work_path(interest_id: MUSIC_INTEREST_ID), title: 'New Song')
              %li= link_to("Software App", new_work_path(interest_id: SOFTWARE_INTEREST_ID), title: 'New App')
              %li= link_to("Writing Piece", new_work_path(interest_id: WRITING_INTEREST_ID), title: 'New Piece')

      %li= link_to(raw("#{icon(:series)} Series"), series_index_path, title: 'View Series', rel: 'nofollow')
      %li= link_to(raw("#{icon(:title)} Titles"),  titles_path,       title: 'Titles',      rel: 'nofollow')
      %li= link_to(raw("#{icon(:tool)} Tools"),    tools_path,        title: 'Tools',       rel: 'nofollow')
      %li= link_to(raw("#{icon(:icon)} Icons"),    icons_path,        title: 'Icons',       rel: 'nofollow')
      %li= link_to(raw("#{icon(:genre)} Genres"),  genres_path,       title: 'Genres',      rel: 'nofollow')
      %li= link_to(raw("#{icon(:place)} Places"),  places_path,       title: 'Places',      rel: 'nofollow')
      %li
        %ul.dropdown.menu{data: {dropdown_menu: true}}
          %li
            %a{href: '#'}= icon(:admin)
            %ul.menu
              %li= link_to(raw("#{icon(:status)} Status"), status_path,   title: 'Status')
              %li= link_to(raw("#{icon(:resume)} Resume Blurbs"), resume_blurbs_path, title: 'Resume Blurbs')
              - [:development, :staging, :production].each do |token|
                %li= environment_link(token)
