!!! html5
%html{lang: "en"}
  %head
    %title= yield(:title)
    = render "layouts/meta"

    = stylesheet_link_tag 'application', media: :all
    = javascript_include_tag 'application'
    = javascript_include_tag "vendor/modernizr"
    = google_analytics

  %body
    %section#wrapper
      %section#header= render 'layouts/header'
      %section#main
        .row
          .large-12.columns= yield
    %section#footer= render 'layouts/footer'