- title "Account: #{@account.company}"

%p
  %b Company:
  = @account.company
%p
  %b Username:
  = @account.username
%p
  %b Url:
  = @account.url

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
